{% if vyos_config.del_interfaces is defined %}
{% for iftype,ifdata in vyos_config.del_interfaces.items() %}
{% for ifname,value in ifdata.items() %}
{% if value.address is defined %}
delete interfaces {{ iftype }} {{ ifname }} address '{{ value.address }}'
{% endif %}
{% if value.description is defined %}
set interfaces {{ iftype }} {{ ifname }} description '{{ value.description }}'
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
